# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

/android
/.env
ios/GoogleService-Info.plist
API_BASE_URL=http://3.37.42.138:8080

# Build artifacts and intermediate files
ios/build/
ios/DerivedData/
ios/*.xcworkspace/
ios/poomy/Info.plist
ios/poomy/PrivacyInfo.xcprivacy


# CocoaPods
ios/Pods/

# Xcode specific
ios/*.xcuserdata/
ios/*.xccheckout/

# Environment files
.env
.env.*

# Temporary files
.DS_Store
*.swp
*.lock
*.log
.idea/
.vscode/
